<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>Hi there,<p>
    <p>
      This is a confirmation that
      <%= @food_donation.restaurant %>'s #<%= @food_donation.id %>
        food_donation is requested by
        <%= @food_donation.charity %>
      </p>
      <p>
        Food-Link
      </p>
    </body>
  </html>
