<body id="page-top">
  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-3 d-block mx-auto" src="/images/profile.png" alt="">
      <h1 class="text-uppercase mb-0">What we do</h1>
      <hr class="star-light">
      <h4 class="font-weight-light mb-0">In Atlanta, GA there is a significant impoverished population which may not have access to a proper meal some days. Because of this issue, our project’s main objective is to connect local charities and local
        restaurants together to create a system for donating leftover food instead of it going to waste.
      </h4>
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="About">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Join Us Now</h2>
      <hr class="star-dark mb-5">
      <h4 class="font-weight-light mb-0 text-center">Sign up as a restaurant to donate extra food or as a charity to acquire free food</h4>
      <h4 class="font-weight-light mb-0 text-center">Need help and more info, <%= link_to "click me", root_url+"User guide.pdf" %>.</h4>
    </section>

  </body>
